@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500;600;700&family=Inter&family=Public+Sans:wght@500;600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
  margin: 15px;
}